<div class="col h-100">
  <div class="card h-100 position-relative">
    <div class="position-relative" style="height: 250px;">
      <img
        [ngSrc]="product().image"
        class="card-img-top"
        [alt]="product().title"
        fill
        [priority]="isPriority()"
      />
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ product().title }}</h4>
      <p class="card-text fs-5 mb-0">
        {{ product().description }}
      </p>
      @if (product().stock < 6) {
      <p class="card-text text-danger">
        <small>
          {{ product().stock < 1 ? 'Out of Stock' : `Only ${product().stock} items` }}
        </small>
      </p>
      }
      <p class="card-text d-flex fs-5 justify-content-end" style="font-weight: bold">
        {{ product().price | currency : 'EGP ' }}
      </p>
      <div class="d-flex gap-2">
        <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
        <button class="btn btn-primary" routerLink="/product/{{ product().slug }}">
          Show Details
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ALERTS -->
<div
  class="alert alert-success alert-dismissible position-fixed end-0"
  role="alert"
  style="width: fit-content; bottom: 45px; z-index: 5"
  *ngIf="isSuccess()"
>
  <div>{{ alertMessage() }}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div
  class="alert alert-danger alert-dismissible position-fixed end-0"
  role="alert"
  style="width: fit-content; bottom: 45px; z-index: 5"
  *ngIf="isError()"
>
  <div>{{ alertMessage() }}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
